
.titulo { text-align: center;

}
.titulo h1 { color: rgba(204, 8, 8, 0.815);  margin: 0; font-size: 40px;
    font-family: 'Courier New';
    margin-top: 60px;
    margin-bottom: 10px;

}
.titulo p {font-size: 15px; font-family: sans-serif;
    margin: 0%;
    

}
body {
    background-color: rgba(206, 194, 194, 0.849);
}


img {
     border: 0px;
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 10px;
    }

.pasos h2 {
    color: rgba(41, 139, 41, 0.945);
    padding-left: 21rem;
    font-style: italic;
    font-size: 30px;
}
.pasos p {
    padding-left: 21rem;
    margin: 0%;
}


.pasos ul {
    list-style-type: upper-roman;
    display: block;
    line-height: 30px;
    padding-left: 22rem;
    margin: 0%;
    } 

ol {
    line-height: 30px;
    padding-left: 5rem;
    font-size: medium;
   padding-inline-end: 20px;
   padding-block-end: 0px; 
   }
   
   #consejo {
       font-family: Arial, Helvetica, sans-serif;
       font-size: 20px;
       padding-right: 20rem;
       color: rgba(41, 139, 41, 0.945);
       margin-bottom: 30px;
       }
.formu {
    display: flex;
justify-content: center;


}
form {
    display: flex;
    background-color: rgb(190, 42, 42);
    border-color: aliceblue;
    border: 2px, ridge;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    width: 60%;
}c
#nombre, #correo {
    font-family: 'Segoe UI';
    line-height: 50px;
    
}
form p {
    margin-bottom: 10px;
}
form h1 {
    margin-bottom: 5px;
}
footer span{
font-family: 'Franklin Gothic Medium';
font-size: 30px;


}
button {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px ridge;
    cursor: pointer;
    border-radius: 5px;
    
}
#boton {
    display: flex;
    justify-content: center;
}
.preparar h2 {
font-style: italic;
font-size: 30px;
margin-bottom: 0%;
margin-block-end: 0%;
}
.preparar ol{
    font-size: 20px;
    font-style: italic;
    margin: 30px;
    margin-top: 10px;
}